= javascript_fallback "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "/javascripts/rails_admin/jquery-1.5.1.min.js", "typeof jQuery == 'undefined'"
= javascript_fallback "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "/javascripts/rails_admin/jquery-ui-1.8.14.min.js", "!jQuery.ui"

- scripts = %w[jquery.localscroll.js jquery.scrollTo.js jquery.tipsy.js jquery.uniform.min.js ]
= javascript_include_tag *scripts.map{ |s| "rails_admin/activo/#{s}" }

- head_javascript "rails_admin/activo/application.js"

= javascript_include_tag "rails_admin/rails.js"

= head_javascript
