!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= yield :title || "#{@page_name} | #{@plugin_name}"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}

    - %w[base jquery-ui formtastic jquery.tipsy.css uniform.default.css].each do |file|
      = stylesheet_link_tag "rails_admin/theme/#{file}"

    = stylesheet_link_tag "rails_admin/theme/activo/style"
    = stylesheet_link_tag "rails_admin/base"

    = head_style
    = csrf_meta_tag
