!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= yield :title || "#{@page_name} | #{@plugin_name}"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    
    = stylesheet_link_tag "rails_admin/rails_admin.css"

    = head_style
    = csrf_meta_tag
