    <div id="header">
      <div id="headerLeft">
        <ul class="breadcrumb">
          <%= yield :breadcrumb %>
        </ul>
      </div>

      <div id="headerRight">
<%= render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user}) %>
      </div>
    </div>

    <div id="header2">
      <h1 id="logo">
      <%= link_to rails_admin_dashboard_path do %>
        <span class="image_replacement"><%= @plugin_name %></span>
      <% end -%>
      </h1>

      <%= render(:partial => 'rails_admin/main/navigation') %>
    </div>
