#header
  = render :partial => 'rails_admin/main/title'
  %h1
  #user-navigation
    %ul.wat-cf
      %li= link_to header_icon(:config, t('admin.dashboard.name')), dashboard_path
      - if main_app_root_path = (main_app.root_path rescue false)
        %li= link_to header_icon(:home, t('home.name').capitalize), main_app_root_path
      - if _current_user
        - if authorized?(:edit, _current_user.class, _current_user)
          %li= link_to header_icon(:account, _current_user.respond_to?(:email) && _current_user.email), edit_path(_current_user.class.name.underscore.pluralize, _current_user)
        - if defined?(Devise)
          %li= link_to header_icon(:logout, t('admin.credentials.log_out')), main_app.url_for(:action => 'destroy', :controller => 'devise/sessions'), :method => Devise.sign_out_via
