<% content_for :head do %>
  <title><%= @page_name %> | <%= @plugin_name %></title>
<% end %>
<%= render(:partial => 'layouts/rails_admin/head') %>
<body>
  <div id="wrapper">
    <% content_for :breadcrumb do %>
      <li><%= link_to(t('home.name'), root_path) %></li>
      <li>&rsaquo; <span><%= t('admin.dashboard.name') %></span></li>
    <% end %>
    <%= render(:partial => 'layouts/rails_admin/header') %>
    <div id="content">
<%= yield %>
    </div>
  </div>
</body>
</html>
