= render(:partial => 'layouts/rails_admin/head')
%body
  #wrapper
    - content_for :breadcrumb do
      %li= link_to(t('home.name'), root_path)
      %li
        \&rsaquo;
        %span= t('admin.dashboard.name')
    = render(:partial => 'layouts/rails_admin/header')
    #content
      = yield
