<% content_for :head do %>
  <title><%= @abstract_model.pretty_name %> | <%= @plugin_name %></title>
<% end %>
<% content_for :breadcrumb do %>
  <li><%= home_link %></li>
  <li>&rsaquo; <%= link_to(t('admin.dashboard.name'), rails_admin_dashboard_path) %></li>
  <li>&rsaquo; <%= link_to(@model_config.label, rails_admin_list_path(:model_name => @abstract_model.to_param)) %></li>
  <li>&rsaquo; <span><%= @page_name %></span></li>
<% end %>

<%= render(:partial => 'layouts/rails_admin/head') %>
<body>
  <div id="wrapper">
    <%= render(:partial => 'layouts/rails_admin/header') %>
    <div id="content">
<%= content_for(:layout) %>
    </div>
  </div>
</body>
</html>
