<% content_for :head do %>
  <title><%= @page_name %> | <%= @plugin_name %></title>
<% end %>
<%= render(:partial => 'layouts/rails_admin/head') %>
<body>
  <div id="wrapper">
    <% content_for :breadcrumb do %>
      <li><%= link_to(t('home.name'), '/') %></li>
      <li>&rsaquo; <%= link_to(t('admin.dashboard.name'), rails_admin_dashboard_path) %></li>
      <li>&rsaquo; <%= link_to(@model_config.label, rails_admin_list_path(:model_name => @abstract_model.to_param)) %></li>
      <li>&rsaquo; <span><%= @page_name %></span></li>
    <% end %>
    <%= render(:partial => 'layouts/rails_admin/header') %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
