<% content_for :head do %>
  <title><%= @page_name %> | <%= @plugin_name %></title>
  <%= stylesheet_link_tag('rails_admin/form.css') %>
  <%= stylesheet_link_tag('rails_admin/ra.filtering-multiselect.css') %>
  <%= stylesheet_link_tag('rails_admin/colorpicker.css') %>

  <%= javascript_include_tag('ckeditor/ckeditor.js') if File.exists?(File.join(Rails.root, 'public/javascripts/ckeditor/ckeditor.js')) %>
  <%= javascript_include_tag "rails_admin/ra.filtering-multiselect.js" %>
  <%= javascript_include_tag "rails_admin/ra.remote-form.js" %>
<% end %>
<%= render(:partial => 'layouts/rails_admin/head') %>
<body>
  <div id="wrapper">
    <% content_for :breadcrumb do %>
      <li><%= link_to(t('home.name'), '/') %></li>
      <li>&rsaquo; <%= link_to(t('admin.dashboard.name'), rails_admin_dashboard_path) %></li>
      <li>&rsaquo; <%= link_to(@model_config.update.label, rails_admin_list_path(:model_name => @abstract_model.to_param)) %></li>
      <li>&rsaquo; <span><%= @page_name %></span></li>
    <% end %>
    <%= render(:partial => 'layouts/rails_admin/header') %>
    <div id="content">
<%= yield %>
    </div>
  </div>
</body>
</html>
