<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @page_name %> | <%= @plugin_name %></title>
  <%= stylesheet_link_tag('rails_admin/base.css') %>
  <%= stylesheet_link_tag('rails_admin/create.css') %>

  <%= javascript_include_tag('rails_admin/prototype.js') %>
  <%= javascript_include_tag('rails_admin/rails.js') %>

  <%= javascript_include_tag('rails_admin/prototype-base-extensions.js') %>
  <%= javascript_include_tag('rails_admin/prototype-date-extensions.js') %>
  <%= javascript_include_tag('rails_admin/scriptaculous.js') %>
  <%= javascript_include_tag('rails_admin/datepicker.js') %>
  <%= javascript_include_tag('rails_admin/associations.js') %>
  <%= javascript_include_tag('ckeditor/ckeditor.js') if File.exists?(File.join(Rails.root, 'public/javascripts/ckeditor/ckeditor.js')) %>
  <%= javascript_include_tag('rails_admin/dashboard.js') %>
  <%= stylesheet_link_tag('rails_admin/datepicker.css') %>
  <%= stylesheet_link_tag('rails_admin/colorpicker.css') %>

  <script type="text/javascript" language="javascript">
  Control.DatePicker.Locale['en_US'] = {
    dateTimeFormat: 'yyyy-MM-dd HH:mm',
    dateFormat: 'yyyy-MM-dd'}

  document.observe("dom:loaded", function() {
    $$(".field .date").each(function(elem){
      new Control.DatePicker(elem, {icon: '<%= image_tag "rails_admin/calendar.png" %>'});
    });
    $$(".field .timestamp").each(function(elem){
      new Control.DatePicker(elem, {icon: '<%= image_tag "rails_admin/clock.png" %>', timePicker: true, timePickerAdjacent: true});
    });
    $$(".field .time").each(function(elem){
      new Control.DatePicker(elem, {icon: '<%= image_tag "rails_admin/clock.png" %>', timePicker: true, datePicker :false});
    });
    $$(".field .datetime").each(function(elem){
      new Control.DatePicker(elem, {icon: '<%= image_tag "rails_admin/calendar.png" %>', timePicker: true, timePickerAdjacent: true});
    });

    <%
    RailsAdmin::config(@object).edit.visible_groups.each do |form_section|
      next unless form_section.visible_fields.length > 0
      form_section.visible_fields.select { |field| field.respond_to?(:column_width) }.each do |field|
    %>
    $("<%= "#{field.abstract_model.to_param}_#{field.name}" %>").style.width = "<%= field.column_width%>px";
    <%
      end
    end
    %>
  });

  </script>

  <%= csrf_meta_tag %>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="headerLeft">
        <ul class="breadcrumb">
          <li>
            <%= link_to(t('home.name'), '/') %>
          </li>
          <li>
            &rsaquo;
            <%= link_to(t('admin.dashboard.name'), rails_admin_dashboard_path) %>
          </li>
          <li>
            &rsaquo;
            <%= link_to(@model_config.update.label, rails_admin_list_path(:model_name => @abstract_model.to_param)) %>
          </li>
          <li>
            &rsaquo;
            <span><%= @page_name %></span>
          </li>
        </ul>
        <h1 id="logo">
          <%= link_to rails_admin_dashboard_path do %>
            <span class="image_replacement"><%= @plugin_name %></span>
          <% end -%>
        </h1>
      </div>

<%= render(:partial => 'rails_admin/main/navigation') %>

      <div id="headerRight">
<%= render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user}) %>
      </div>
    </div>
    <div id="content">
<%= yield %>
    </div>
  </div>
  <%= javascript_include_tag('rails_admin/yahoo.color.js') %>
  <%= javascript_include_tag('rails_admin/colorpicker.js') %>
</body>
</html>
