!!! 5
%html
  %head
    %title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{@plugin_name}"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    
    - unless @google_analytics_id.nil?
      %script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push([
        '_setAccount',
        = "'#{@google_analytics_id}'"
        ]);
        _gaq.push(['_trackPageview']);
        
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
    = stylesheet_link_tag "rails_admin/rails_admin.css"

    = head_style
    = csrf_meta_tag
  %body.rails_admin
    #container
      = render(:partial => 'layouts/rails_admin/header')
      #wrapper.wat-cf
        #main
          #content= yield
          #footer
            %p Rails Admin | 2011
        = render :partial => "layouts/rails_admin/sidebar"
    = javascript_include_tag "rails_admin/rails_admin.js"
    = head_javascript

