<%
  params = request.params.except(:action, :controller, :model_name)
  query = params[:query]
  filter = params[:filter]
  sort = params[:sort]
  sort_reverse = params[:sort_reverse]

%>
      <div id="contentHeader">
        <h2><%= @page_name %></h2>
      </div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
      <div id="contentMainModules">
        <div class="searchBox">
          <form action="" method="get">
            <fieldset>
              <input type="text" id="searchBar" name="query" value="<%= query %>"/>
              <input type="submit" id="searchbar_btn" value="<%= t("admin.list.search").upcase %>" />
            </fieldset>
          </form>
        </div>
        <table class="grid">
          <thead>
            <tr>
              <% property_name = "created_at"%>
              <% selected = sort == property_name.to_s %>
              <% sort_direction = selected ? (sort_reverse ? "ascending" : "descending") : nil %>
              <th class="dateTime <%= sort == property_name.to_s ? "selected" : nil %>" >
                <% sort_location = params.merge(:sort => :created_at).reject{|key, value| key.to_sym == :sort_reverse}.merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
                <%= link_to("DATE/TIME", sort_location, :class => sort_direction) %>
              </th>
              <% property_name = "username"%>
              <% selected = sort == property_name.to_s %>
              <% sort_direction = selected ? (sort_reverse ? "ascending" : "descending") : nil %>
              <th class="smallString <%= sort == property_name.to_s ? "selected" : nil %>" >
                <% sort_location = params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
                <%= link_to("USER", sort_location, :class => sort_direction) %>
              </th>
              <% if @general %>
              <% property_name = "item"%>
              <% selected = sort == property_name.to_s %>
              <% sort_direction = selected ? (sort_reverse ? "ascending" : "descending") : nil %>
              <th class="int <%= sort == property_name.to_s ? "selected" : nil %>" >
                <% sort_location = params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
                <%= link_to("ITEM", sort_location, :class => sort_direction) %>
              </th>
              <% end %>
              <% property_name = "message"%>
              <% selected = sort == property_name.to_s %>
              <% sort_direction = selected ? (sort_reverse ? "ascending" : "descending") : nil %>
              <th class="smallString <%= sort == property_name.to_s ? "selected" : nil %>" >
                <% sort_location = params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
                <%= link_to("ACTION", sort_location, :class => sort_direction) %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @history.each_with_index do |object, index| %>
            <tr class="<%= index % 2 == 0 ? "odd" : "even" %>">
              <td class="dateTime">
                <% unless object.created_at.nil? %>
                <%= l(object.created_at, :format => :long, :default => l(object.created_at, :format => :long, :locale => :en)) %>
                <% end %>
              </td>
              <td class="smallString">
                <%= object.username %>
              </td>
              <% if @general %>
              <td class="int">
                <% unless object.message.match("Destroy") %>
                <%= link_to object.item, rails_admin_history_object_path(:id => object.item), :class => "historyLink"%>
                <% else %>
                <%= object.item %>
                <% end %>
              </td>
              <% end %>
              <td class="smallString">
                <%= object.message %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @general %>
    <div id="pagination">
      <p class="paginator">
      <% if @page_count.to_i > 1 %>
        <%= paginate(@current_page, @page_count, :url => params.reject{|t| t == "page" || t=="all"}).html_safe %>
      <% end %>
      <% if @page_count.to_i == 2 %>
        <%= link_to(t("admin.list.show_all"), params.reject{|t| t == "page"}.merge(:all => true), :class => "showall") %>
      <% end %>
      </p>
    </div>
    <% end %>
