- params = request.params.except(:action, :controller, :model_name)
- query = params[:query]
- filter = params[:filter]
- sort = params[:sort]
- sort_reverse = params[:sort_reverse]
- path_method = params[:id] ? "history_object_path" : "history_model_path"

= form_tag("", :method => "get", :class => "search") do
  .row.clearfix
    .span3
      %input{:name => "query", :type => "search", :value => query, :placeholder => "#{t("admin.index.search")}"}
    .span3
      %button.btn.primary{:type => "submit", :'data-disable-with' => t("admin.index.search")}= t("admin.index.search")
%table#history.zebra-striped
  %thead
    %tr
      - columns = []
      - columns << { :property_name => "created_at", :css_class => "created_at",:link_text => "DATE/TIME" }
      - columns << { :property_name => "username",   :css_class => "username",  :link_text => "USER"      }
      - columns << { :property_name => "item",       :css_class => "item",      :link_text => "ITEM"      } if @general
      - columns << { :property_name => "message",    :css_class => "message",   :link_text => "ACTION"    }

      - columns.each do |column|
        - property_name = column[:property_name]
        - selected = (sort == property_name)
        - sort_direction = selected ? (sort_reverse ? "headerSortUp" : "headerSortDown") : nil
        - sort_location = send(path_method, params.except("sort_reverse").merge(:model_name => @abstract_model.to_param, :sort => property_name).merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {}))
        %th{:class => "header #{column[:css_class]} #{sort_direction if selected}", :'data-link' => sort_location}= column[:link_text]
  %tbody
    - @history.each_with_index do |object, index|
      %tr
        - unless object.created_at.nil?
          %td= l(object.created_at, :format => :long, :default => l(object.created_at, :format => :long, :locale => :en))
        %td= object.username
        - if @general
          %td= object.item
        %td= object.message

- unless params[:all] || !@history.respond_to?(:current_page)
  = paginate(@history, :theme => 'twitter-bootstrap')
  = link_to(t("admin.index.show_all"), send(path_method, params.merge(:all => true)), :class => "show-all btn") unless (tc = @history.total_count) <= @history.size || tc > 100

