<%
  property_name = property[:name]
  value = @object.send(property_name)
  label = property[:pretty_name]
  required = !property[:nullable?]
  model_name = @abstract_model.to_param
%>
                <%= label_tag "#{property_name}", label %>

                <%= text_field model_name, property_name,  :maxlength => length, :class => "dateField #{errors_exist ? "errorField" : nil}" %>
                <!--><p class="help">
                <%= required ? "Required." : "Optional." %> <%= length %> <%= length == 1 ? "character." : "characters or fewer." %>
                </p>-->
