<%
  property_name = property[:name]
  length = property[:length]
  label = property[:pretty_name]
  required = !property[:nullable?] || property[:serial?]
  model_name = @abstract_model.to_param
%>
               <%= label_tag "#{property_name}", label %>

               <%= text_field model_name, property_name,  :maxlength => length, :class => "floatField #{errors_exist ? "errorField" : nil}" %>
               <!--><p class="help">
               <%= required ? "Required." : "Optional." %> <%= length %> <%= length == 1 ? "character." : "characters or fewer." %>
               </p>-->