<%
  association_name = has_many_association[:name]
  collection = MerbAdmin::AbstractModel.new(has_many_association[:child_model]).all.map{|object| [object_label(object), object.id]}.sort_by{|object| object.first}
  selected = @object.send(association_name)
  label = has_many_association[:pretty_name]
%>
            <fieldset class="module aligned">
              <h2><%= label %></h2>
              <div class="form-row">
                <div>
                  <%= select("associations", association_name, collection, :id => association_name, :selected => selected.map{|o| o.id.to_s}, :label => label, :multiple => true) %>
                  <script type="text/javascript">addEvent(window, "load", function(e) {SelectFilter.init("<%= association_name %>", "<%= association_name %>", 0, "<%= image_path("") %>"); });</script>
                  <p class="help">Hold down "Control", or "Command" on a Mac, to select more than one.</p>
                </div>
              </div>
            </fieldset>
