      <div id="contentHeader">
        <h2><%= @page_name %></h2>
        <div id="quickAccess">
      	  <ul id="quick">
      	    <!--<li><a href="#">Quick add</a></li>-->
      	    <li>
      	     <%= link_to(t("admin.history.name"), rails_admin_show_history_path(:model_name => @abstract_model.to_param, :id => params[:id]), :class => "addlink") %>
      	    </li>
      	  </ul>

      	</div>
      	  <a href="<%= rails_admin_destroy_path(:model_name => @abstract_model.to_param, :id => params[:id]) %>" id="deleteItem"><img src="/images/cross.png" alt="Delete"><%= t("admin.list.delete_action") %></a>      	
      </div>
<%= render(:partial => 'layouts/flash', :locals => {:flash => flash}) -%>
      <div id="contentMainNew">
        <%= form_for(@object, :url => rails_admin_update_path(:model_name => @abstract_model.to_param, :id => @object.id)) do %>
          <fieldset>
		        <h2><%= t("admin.new.basic_info")%></h2>
      			<div class="formSection">
<%= render(:partial => 'properties', :properties => @properties) -%>
            </div>

<%= render(:partial => 'belongs_to_association', :collection => @abstract_model.belongs_to_associations) -%>
<%= render(:partial => 'has_one_association', :collection => @abstract_model.has_one_associations) -%>
<%= render(:partial => 'has_many_association', :collection => @abstract_model.has_many_associations) -%>
<%= render(:partial => 'has_and_belongs_to_many_association', :collection => @abstract_model.has_and_belongs_to_many_associations) -%>

            <ul id="submitArea">
        	    <li id="saveContainer">
        	      <%= submit_tag t("admin.new.save"), :class => "button default", :name => "_save", :id => "save_btn" %>
        	    </li>
              <li id="saveEditContainer">
                <%= submit_tag t("admin.new.save_and_edit"), :class => "button", :name => "_add_edit", :id => "saveEdit_btn" %>
              </li>
              <li id="cancelContainer">
                <%= submit_tag t("admin.new.cancel"), :class => "button", :name => "_continue", :id => "cancel_btn" %>
              </li>
            </ul>
  		    </fieldset>
          </div>
        <% end %>
      </div>
