<%
  params = request.params.except(:action, :controller, :model_name)
  query = params[:query]
  filter = params[:filter]
  sort = params[:sort]
  sort_reverse = params[:sort_reverse]
  filters_exist = !@properties.select{|property| property[:type] == :boolean}.empty?
%>
      <div id="contentHeader">
        <h2><%= @page_name %></h2>
          
      	<div id="quickAccess">
      	  <ul id="quick">
      	    <li><a href="#">Quick add</a></li>
      	    <li>
      	     <%= link_to("Add new", rails_admin_new_path(:model_name => @abstract_model.to_param), :class => "addlink") %>
      	    </li>
      	  </ul>
      	</div>
      </div>
      
      <div id="contentMainModules">
        
        <ul id="moduleHeader">
          <% @properties.each do |property| %>
          <% property_name = property[:name] %>
          <% property_pretty_name = property[:pretty_name] %>
          <li class="<%= getColumnType(property,"Header") %> <%= sort == property_name.to_s ? "columnSelected" : nil %>">
            <%= link_to(property_pretty_name.upcase, params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(sort == property_name.to_s && sort_reverse != "true" ? {:sort_reverse => "true"} : {})) %>
            <% if sort == property_name.to_s %>
            <% image_name = sort_reverse ? "bullet_arrow_down.png" : "bullet_arrow_up.png"%>              
            <%= link_to image_tag(image_name), params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(sort == property_name.to_s && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
            <% end %>
          </li>
          <% end %>
          <li class="otherHeader"><a href="#">[...]</a></li>
          <li class="actionHeader">EDIT</li>
          <li class="actionHeader">DELETE</li>
        </ul>
                
        <div class="searchBox">
          <form action="#" method="post">
            <fieldset>
              <input type="text" id="searchBar" />
            </fieldset>
          </form>
        </div>
        <% @objects.each_with_index do |object, index| %>
        <ul class="infoRow <%= index % 2 == 0 ? nil : "greyRow" %>">
          <% @properties.each do |property| %>
          <li class="<%= getColumnType(property,"Row") %>"><%= object_property(object, property) %></li>
          <% end %>
          <li class="otherRow"><a href="#">...</a></li>
          <li class="actionRow editAction"><%= link_to("Edit", rails_admin_edit_path(:model_name => @abstract_model.to_param, :id => object.id)) %></li>
          <li class="actionRow deleteAction"><a href="#">Delete</a></li>
        </ul>
        <% end %>                
      </div>
      