        <div id="content-main">
        <%= form_tag(rails_admin_create_path(:model_name => @abstract_model.to_param)) do %>
          <div>
<%= render(:partial => 'properties', :properties => @properties) -%>
<%= render(:partial => 'belongs_to_association', :collection => @abstract_model.belongs_to_associations) -%>
<%= render(:partial => 'has_one_association', :collection => @abstract_model.has_one_associations) -%>
<%= render(:partial => 'has_many_association', :collection => @abstract_model.has_many_associations) -%>
            <div class="submit-row" >
              <%= submit_tag "Save", :class => "default", :name => "_save" %>
              <%= submit_tag "Save and add another", :name => "_add_another" %>
              <%= submit_tag "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end %>

        </div>
