%table.zebra-striped
  %thead
    %tr
      %th.shrink.user= t("admin.table_headers.username")
      %th.changes= t("admin.table_headers.changes")
  %tbody
    - @history.each do |t|
      %tr
        %td= t.try :username
        %td= "#{m = t.message.try(:downcase)} #{m.to_s.rindex("changed") ? "for #{t.table.capitalize} ##{t.item}" : ''}"
