- object = delete_notice
- #Factor out to controller
- model_config = RailsAdmin.config(@abstract_model)

%ul.items
  %li
    = "#{@abstract_model.pretty_name}: "
    = link_to rails_admin_edit_path(:model_name => @abstract_model.to_param, :id => object.id) do
      = model_config.with(:object => object).object_label
    %ul
      - @abstract_model.has_many_associations.each do |association|
        - object.send(association[:name]).reject{|child| child.nil?}.each do |child|
          %li
            One or more #{@abstract_model.pretty_name.pluralize.downcase} in #{association[:pretty_name].downcase}: #{link_to(RailsAdmin.config(child).with(:object => child).object_label, rails_admin_edit_path(:model_name => association[:name].to_s.singularize.to_sym, :id => child.id))}
      - @abstract_model.has_one_associations.each do |association|
        - child = object.send(association[:name])
        - next if child.nil?
        %li
          A #{@abstract_model.pretty_name.downcase} in #{association[:pretty_name].downcase}: #{link_to(RailsAdmin.config(child).with(:object => child).object_label, rails_admin_edit_path(:model_name => association[:name], :id => child.id))}
