- field.attachments.each_with_index do |attachment, i|
  .toggle
    = attachment.pretty_value
    - if field.delete_method
      %a.btn.btn-info.btn-remove-image{href: '#', :'data-toggle' => 'button', role: 'button', onclick: "$(this).siblings('[type=checkbox]').click(); $(this).parent('.toggle').toggle('slow'); jQuery(this).toggleClass('btn-danger btn-info'); return false;"}
        %i.icon-white.icon-trash
        = I18n.t('admin.actions.delete.menu').capitalize + " #{field.label.downcase} ##{i + 1}"

    = form.check_box(field.delete_method, {multiple:true, style: 'display:none;'}, attachment.delete_key, nil)

= form.file_field(field.name, field.html_attributes.reverse_merge({ data: { :"multiple-fileupload" => true }, multiple: true }))

- if field.cache_method
  = form.hidden_field(field.cache_method)
