              <div class="field <%= "#{form.object_name}_#{field.name}" %>">
                <%= form.label field.name, field.label %>
                <%= form.send field.view_helper, field.name, field.html_attributes %>
                <div id="<%= "#{form.object_name}_#{field.name}" %>Helper" class="colorSelector"><div></div></div>
                <% if field.has_errors? %>
                <span class="errorMessage"><%= "#{field.label } #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
	            <% head_style "rails_admin/jquery.colorpicker.css" %>
	            <% head_javascript "rails_admin/jquery.colorpicker.js" %>
                <% head_javascript do %>
                  $j(document).ready(function($){
                    var input = $('#<%= "#{form.object_name}_#{field.name}" %>').hide();
                    $('#<%= "#{form.object_name}_#{field.name}" %>Helper div').css('backgroundColor', '#' + input.val());
					$('#<%= "#{form.object_name}_#{field.name}" %>Helper').ColorPicker({
					  color: input.val(),
					  onShow: function (el) {
					    $(el).fadeIn(500);
						return false;
					  },
					  onHide: function (el) {
						$(el).fadeOut(500);
					    return false;
					  },
					  onChange: function (hsb, hex, rgb) {
					    input.val(hex);
					    $('#<%= "#{form.object_name}_#{field.name}" %>Helper div').css('backgroundColor', '#' + hex);
					  }
					});
                  });
                <% end %>
              </div>