  <% 
    object = field.bindings[:object]
    file = object.send(field.method_name)
    if file_present = file.file?
      file_is_image = file.content_type =~ /image/
      url = object.send(field.method_name).url
      thumb_url = object.send(field.method_name).url(field.thumb_method) if file_is_image && field.thumb_method
    end
  %>
  
              <div class="field <%= field.dom_id %>">
                <%= form.label field.method_name, field.label %>
                <div class="input">
                  <div class="toggle" style="<%= 'display:none;' if file_present && field.delete_method && object.send(field.delete_method) == '1' %>">
                    <% if file_is_image %>
                      <%= link_to image_tag(thumb_url || url), url %><br />
                    <% else %>
                      <%= link_to nil, url %><br />
                    <% end if file_present %>
                    <%= form.file_field(field.method_name, field.html_attributes) %>
                  </div>
                  <% if file_present && field.delete_method %>
                    <%= form.check_box(field.delete_method, :onclick => %{
                        if(this.checked) {
                          var parent = jQuery(this).parents(".#{field.dom_id}")[0];
                          var old_input = jQuery(parent).find("input[type='file']")[0]
                          var new_input = document.createElement('input');
                          new_input.setAttribute('type', 'file');
                          new_input.setAttribute('id', old_input.id);
                          new_input.setAttribute('name', old_input.name);
                          jQuery(old_input).replaceWith(new_input);
                          jQuery(parent).find(".toggle").hide(); 
                        } else {
                          var parent = jQuery(this).parents(".#{field.dom_id}")[0];
                          jQuery(parent).find(".toggle").show();
                        }}, :class => "ra-button") %>
                      <%= form.label(field.delete_method, "#{I18n.t('admin.actions.delete')}") %>
                    <% end %>
                </div>
                
                <% if field.has_errors? %>
                  <span class="errorMessage"><%= "#{field.label} #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
              </div>
