              <div class="field <%= "#{form.object_name}_#{field.name}" %>">
                <%= form.label field.name, field.label %>
                <%= form.send field.view_helper, field.name, field.html_attributes %>
                <% if field.has_errors? %>
                <span class="errorMessage"><%= "#{field.label} #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
                <% head_style "rails_admin/jquery.ui.timepicker.css" %>
                <% head_javascript "rails_admin/jquery.ui.timepicker.js" %>
                <% head_javascript "rails_admin/ra.datetimepicker.js" %>
                <% head_javascript do %>
                  $j(document).ready(function($){
                    $("#<%= "#{form.object_name}_#{field.name}" %>").datetimepicker(<%= field.js_plugin_options.html_safe %>);
                  });
                <% end %>
              </div>
