.controls
  %ul.nav{:style => 'margin-bottom:0px; display:none'}
  %a.btn.btn-info.toggler{:'data-toggle' => "button", :'data-target' => "#{form.jquery_namespace(field)} > .tab-content", :class => (field.active? ? 'active' : '') }
  = form.errors_for(field)
  = form.help_for(field)
  
- form.object.send("build_#{field.name}") unless form.object.send(field.name)
.tab-content
  = form.fields_for field.name do |nested_form|
    = nested_form.generate({:action => :nested, :model_config => field.associated_model_config, :nested_in => field.name })

= form.javascript_for(field) do
  :plain
    var field = $("#{form.jquery_namespace(field)}");
    var nav = field.find("> .controls > .nav");
    var content = field.find("> .tab-content");
    var toggler = field.find('> .controls > .toggler');
    
    content.children(".fields").addClass('tab-pane').each(function(){
      nav.append('<li><a data-toggle="tab" href="#' + this.id + '">' + $(this).children('.object-infos').data('object-label') + '</a></li>');
    });
    
    var first_tab = nav.find("> li > a[data-toggle='tab']:first");
    
    first_tab.tab('show');
    field.find("> .controls > [data-target]:first").html('<i class="icon-white"></i> ' + first_tab.html());
    
    if (toggler.hasClass('active')) {
      toggler.children('i').addClass('icon-chevron-down');
      content.show()
    } else {
      toggler.children('i').addClass('icon-chevron-right');
      content.hide()
    }
    