<%
  collection = field.associated_collection.sort_by{|object| object.first.to_s }
  selected = field.bindings[:object].send(field.child_key)

  if selected.nil? && params["associations"]
    selected = params["associations"][field.child_key.to_param.pluralize].to_i
  end

  model_name = field.abstract_model.to_param
  associated_model = field.associated_model_config
  associated_model_name = associated_model.abstract_model.to_param
%>
              <div class="field <%= field.to_param %>">
                <%= label_tag field.to_param, field.label %>
                <%= form.select field.name, collection, {:include_blank => true, :selected => selected}, field.html_attributes %>
                <% if authorized? :new, @abstract_model %>
                  <%= link_to "Add new #{associated_model_name}", rails_admin_new_path(:model_name => associated_model_name ), :class => "createAssociatedRecord" %>
                <% end %>
                <% if field.has_errors? %>
                <span class="errorMessage"><%= "#{field.label } #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
                <%= javascript_tag do %>
                  $j(document).ready(function($) {
                    $(".createAssociatedRecord").remoteForm({ dialogClass: "createAssociatedRecordDialog" });
                  });
                <% end %>
              </div>
