              <div class="field <%= field.to_param %>">
                <%= label_tag field.to_param, field.label %>
                <%= form.send field.view_helper, field.name, field.html_attributes %>
                <% if field.has_errors? %>
                <span class="errorMessage"><%= "#{field.label } #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
                <% head_style "rails_admin/jquery.ui.timepicker.css" %>
                <% head_javascript "rails_admin/jquery.ui.timepicker.js" %>
                <% head_javascript "rails_admin/ra.datetimepicker.js" %>
                <% head_javascript do %>
                  $j(document).ready(function($) {
                    $("#<%= "#{field.to_param}" %>").datetimepicker(<%= field.js_plugin_options.html_safe %>);
                  });
                <% end %>
              </div>
