- file = @object.send(field.method_name)

.toggle{:style => ('display:none;' if file.file? && field.delete_method && @object.send(field.delete_method) == '1')}
  - if value = field.pretty_value
    = value
    %span.row
  = form.file_field(field.method_name, field.html_attributes)
- if field.optional? && field.errors.blank? && file.file? && field.delete_method
  %span.label.notice{:style => 'cursor:pointer;', :onclick => "jQuery(this).siblings('[type=checkbox]').click(); jQuery(this).siblings('.toggle').toggle('slow'); jQuery(this).toggleClass('important notice'); "}
    = I18n.t('admin.actions.delete').capitalize + " #{field.method_name}"
  = form.check_box(field.delete_method, :style => 'display:none;' )
= javascript_tag do
  :plain
    jQuery(function($) {
      $(".field .input .delete input[type='checkbox']").bind('click', function() {
        $(this).parents('.input').first().children('.toggle').toggle('slow');
      });
    })
