%div{:class => "field #{field.to_param}"}
  = label_tag field.to_param, field.label
  .input
    - if field.bindings[:object].send(field.name).file?
      .row
        = image_tag(field.bindings[:object].send(field.name).url)
        %br/
    .row
      = form.file_field(field.name, field.html_attributes)
  - if field.has_errors?
    %span.errorMessage= "#{field.label } #{field.errors.first}"
  %p.help= field.help
