:ruby
  config = field.associated_model_config
  selected = field.bindings[:object].send(field.association[:name])
  selected_ids = selected.map(&:id)
  xhr = field.associated_collection_count > 100
  if xhr
    collection = selected.map do |o|
      [o.send(config.object_label_method), o.id]
    end
  else
    collection = field.associated_collection(@authorization_adapter).sort_by {|a| selected_ids.index(a[1]) || selected_ids.size }
  end

= field_wrapper_for(form, field) do
  %input{:name => field.dom_name, :type => "hidden", :value => ""}
  = form.select field.method_name, collection, { :selected => selected_ids, :object => @object }, field.html_attributes

- head_style 'rails_admin/ra.filtering-multiselect.css'
- head_javascript "rails_admin/ra.filtering-multiselect.js"
- head_javascript do
  $j(document).ready(function($){
  $("##{field.dom_id}").filteringMultiselect({
  - if xhr
    createQuery: function(query) {
    return { query: query }
    },
    source: "#{rails_admin_list_path(config.abstract_model.to_param, :compact => true)}",
  sortable: #{field.orderable ? 'true' : 'false'},
  regional: {
  chooseAll: "#{t("admin.new.chose_all")}",
  chosen: "#{t("admin.new.chosen", :name => config.abstract_model.model.model_name.human(:count => 2, :default => config.label.pluralize))}",
  clearAll:  "#{t("admin.new.clear_all")}",
  selectChoice: "#{t("admin.new.select_choice")}",
  up: "#{t("admin.new.up")}",
  down: "#{t("admin.new.down")}"
  }
  });
  });
