.controls
  = form.link_to_add '<i class="icon-plus icon-white"></i>'.html_safe, field.name, { :class => 'btn btn-info' }
  = form.errors_for(field)
  = form.help_for(field)
  %ul.nav.nav-tabs{ :style => 'margin-top:5px' }
  
.tab-content
  = form.fields_for field.name do |nested_form|
    = nested_form.link_to_remove '<span class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe
    = nested_form.generate({:action => :nested, :model_config => field.associated_model_config, :nested_in => field.name })

= form.javascript_for(field) do
  :plain
    $("#{form.jquery_namespace(field)}>.tab-content>.fields").addClass('tab-pane').each(function(){
      if(!$("#{form.jquery_namespace(field)}>.controls>.nav").find('li>a[href="#' + this.id + '"]').length) { // check needed because chunk is moved around by nested_form
        $("#{form.jquery_namespace(field)}>.controls>.nav").append('<li><a data-toggle="tab" href="#' + this.id + '">' + $(this).children('.objects_infos').data('object-label') + '</a></li>');
      }
    });
    $("#{form.jquery_namespace(field)}>.controls>.nav>li>a[data-toggle]:first").tab('show');
    if($("#{form.jquery_namespace(field)}>.controls>.nav").children().length == 0) {
      $("#{form.jquery_namespace(field)}>.controls>.nav").hide()
    }
