%div{:class => "field #{field.dom_id}"}
  = form.label field.method_name, field.label
  = form.send field.view_helper, field.name, field.html_attributes
  - if field.has_errors?
    %span.errorMessage= "#{field.label } #{field.errors.first}"
  %p.help= field.help
