<div class="ui-widget-header">
  <%= month_names[month - 1] %> <%= year %> <%= t("admin.history.name").downcase %>
</div>
<div class="ra-block-content">
  <table class="grid">
    <tbody>
      <% history.each do |t|%>
      <tr class="<%= cycle 'odd', 'even' %>">
         <td style="text-align: left;"><%= t.username%></td>
         <td style="text-align: left;"><%= history_output(t) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
