<p id="listing">
  <% month_names = t("date.month_names", :locale => :en) if (month_names = t("date.month_names")) =~ /translation/ %>
  <strong><%= month_names[month] %> <%= year %></strong> <%= t("admin.history.name").downcase %>:
</p>
<%= t("admin.history.no_activity") if history.empty? %>
<ul id="history">
<% history.each do |t|%>
<li><%= t.username%> <%= history_output(t)%></li>
<% end %>
</ul>
