<div class="header">
  <h2><%= month_names[month - 1] %> <%= year %> <%= t("admin.history.name").downcase %></h2>
</div>
<div class="content">
  <table class="grid">
    <tbody>
      <% history.each do |t|%>
      <tr class="<%= cycle 'odd', 'even' %>">
         <td style="text-align: left;"><%= t.username%></td>
         <td style="text-align: left;"><%= history_output(t) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
