- if authorized? :show, @abstract_model, object
  - link = show_path(model_name, object.id)
  %li.show_object_link{:class => ('active' if add_active_class && current_page?(link))}
    = link_to wording_for(:menu_item, :action => :show), link

- if authorized? :edit, @abstract_model, object
  - link = edit_path(model_name, object.id)
  %li.edit_object_link{:class => ('active' if add_active_class && current_page?(link))}
    = link_to wording_for(:menu_item, :action => :edit), link

- if authorized? :delete, @abstract_model, object
  - link = delete_path(model_name, object.id)
  %li.delete_object_link{:class => ('active' if add_active_class && current_page?(link))}
    = link_to wording_for(:menu_item, :action => :delete), link

- if @auditing_adapter && authorized?(:history, @abstract_model, object)
  - link = history_show_path(model_name, object.id)
  %li.history_object_link{:class => ('active' if add_active_class && current_page?(link))}
    = link_to wording_for(:menu_item, :action => :history_show), link

- if authorized?(:show_in_app, @abstract_model, object) && (link = (main_app.url_for(object) rescue nil))
  %li.show_in_app_object_link
    = link_to t("admin.show.show_in_app"), link
