<%
  type_collection = field.polymorphic_type_collection
  foreign_type = field.association[:options][:foreign_type]
  selected_type = params["associations"] ? params["associations"][foreign_type] : type_collection.first[1]

  collection = field.associated_collection
  selected = params["associations"] ? params["associations"][field.name] : nil

  model_name = field.abstract_model.to_param
%>
                  <%= label_tag "#{model_name}_#{field.name}", field.label %>
                  <%= select model_name, foreign_type, type_collection, {:selected => selected_type}, :class => "selectField #{field.has_errors? ? "errorField" : nil}" %>

                  <%= select model_name, field.name, collection, {:include_blank => true, :selected => selected}, :class => "selectField #{field.has_errors? ? "errorField" : nil}", :style => "margin-left:10px;" %>

                  <%= javascript_tag do %>
                    $j(document).ready(function($){
                      var urls = <%= field.polymorphic_type_urls.to_json.html_safe %>;
                      $("#<%= "#{model_name}_#{foreign_type}" %>").bind("change", function(e){
                        $.ajax({
                          url: urls[$(this).val()],
                          data: { compact: true },
                          beforeSend: function(xhr) {
                            xhr.setRequestHeader("Accept", "application/json");
                          },
                          success: function(data, status, xhr) {
                            var html = '<option></option>';
                            $(data).each(function(i, el) {
                              html += '<option value="' + el.id + '">' + el.label + '</option>';
                            });
                            $("#<%= "#{model_name}_#{field.name}" %>").html(html);
                          }
                        });
                      });
                    });
                  <% end %>
