      <div class="search field search_<%= field.name %>">
          <%= label_tag field.name, field.label %>
          <input id="<%= field.name %>" type="text" name="query" value="<%= query %>" size="32" />
          <input type="hidden" name="query_type" value=<%=field.name%> />
      </div>
