      <div class="search field search_<%= field.name %>">
          <%= label_tag field.name, field.label, {:class => "main_label" }   %>
          <input id="<%= field.name %>" type="text" name="query[<%=field.name%>]" value="<%= query[field.name] unless query.nil? %>" size="32" />
      </div>
