<% head_javascript "rails_admin/application.js" %>
      <div class="ra-block">
        <div class="ui-widget-header">
          Delete confirmation
        </div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
        <div class="ra-block-content">
          <p>Are you sure you want to delete the following object along with all of the following related items will be deleted:</p>
          <%= render :partial => "delete_notice", :collection => @bulk_objects %>
          <%= form_tag rails_admin_bulk_destroy_path(:model_name => @abstract_model.to_param, :bulk_ids => @bulk_objects.map(&:id)) do %>
            <ul class="submit clearfix">
              <li>
                <%= submit_tag t("admin.delete.confirmation"), :class => "ra-button ui-state-highlight" %>
              </li>
              <li>
                <%= submit_tag t("admin.new.cancel"), :class => "ra-button", :name => "_continue" %>
              </li>
            </ul>
          <% end =%>
        </div>
      </div>