- head_javascript "rails_admin/application.js"

#block-tables.block
  = breadcrumbs_for :bulk_destroy, @abstract_model

  .content
    %h2.title Delete confirmation
    .inner
      = render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
      %p Are you sure you want to delete the following object along with all of the following related items will be deleted:
      %div{:style=>"padding-left:20px"}
        = render :partial => "delete_notice", :collection => @bulk_objects
      = form_tag rails_admin_bulk_destroy_path(:model_name => @abstract_model.to_param, :bulk_ids => @bulk_objects.map(&:id)) do
        %br
        %br
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            %img{:alt => "Remove", :src => "/stylesheets/rails_admin/theme/activo/images/icons/cross.png"}
            = t("admin.delete.confirmation")

          %button.button{:type => "submit", :name => "_continue"}
            =t("admin.new.cancel")
