<h4>
  <%= I18n.t('admin.form.bulk_delete') %>
</h4>
<ul>
  <%= render partial: "delete_notice", collection: @objects %>
</ul>
<%= form_tag bulk_delete_path(model_name: @abstract_model.to_param, bulk_ids: @objects.map(&:id)), method: :delete do %>
  <div class="form-actions">
    <input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>" />
    <button class="btn btn-danger" data-disable-with="<%= t("admin.form.confirmation") %>" type="submit">
      <i class="fas fa-check"></i>
      <%= t("admin.form.confirmation") %>
    </button>
    <button class="btn" data-disable-with="<%= t("admin.form.cancel") %>" name="_continue" type="submit">
      <i class="fas fa-times"></i>
      <%= t("admin.form.cancel") %>
    </button>
  </div>
<% end %>
