%table.zebra-striped
  %thead
    %tr
      %th.start
        = t "admin.dashboard.model_name"
      %th= t "admin.dashboard.last_used"
      %th{:style => 'width:60%'}= t "admin.dashboard.records"
      %th
  %tbody
    - @abstract_models.each do |abstract_model|
      - if authorized? :list, abstract_model
        - list_path = list_path(:model_name => abstract_model.to_param)
        - row_class = "#{cycle("odd", "even")}#{" link" if list_path}"

        %tr{:class => row_class, :"data-link" => list_path}
          %td
            %span.show= link_to RailsAdmin.config(abstract_model).label, list_path
          %td
            - if (last_used = @most_recent_changes[abstract_model.pretty_name])
              = time_ago_in_words last_used
              = t "admin.dashboard.ago"
          %td
            - percent = (Math.log(@count[abstract_model.pretty_name]) * 100.0) / Math.log(@max)
            .label{:class => get_indicator(percent), :style => "width:#{[5, percent].max.to_i}%;"}= @count[abstract_model.pretty_name]
          %td
            - if authorized? :new, abstract_model
              = link_to t("admin.dashboard.add_new"), new_path(:model_name => abstract_model.to_param)
            - if authorized? :see_history, abstract_model
              - history_path = history_model_path(:model_name => abstract_model.to_param)
              = link_to t("admin.history.name"), history_path
- if authorized? :see_history
  #block-tables.block
    .content
      %h2.title= t("admin.history.name")
      .inner
        #timeline
        #listingHistory
          = render(:partial => 'history', :locals => {:month => Time.now.month, :year => Time.now.year, :history => @history})
        = javascript_tag do
          :plain
            jQuery(function($) {
              var cache = {};
              $("#timeline").timeline({
                url: "#{ history_slider_path }",
                monthChanged: function(month, year) {
                  if (cache[year] && cache[year][month]) {
                    $("#listingHistory").html(cache[year][month]);
                  } else {
                    $("#listingHistory").load(
                      "#{ history_list_path }",
                      { month: month, year: year },
                      function(response, status, xhr) {
                        if (!cache[year]) { cache[year] = {}; }
                        cache[year][month] = response;
                      }
                    );
                  }
                },
                months: #{ActiveSupport::JSON.encode(month_names).html_safe}
              });
            });
