- head_javascript "rails_admin/application.js"

#block-tables.block
  = breadcrumbs_for :delete, @object

  .content
    %h2.title= t("admin.delete.delete_confirmation")
    .inner
      = render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
      %p
        = t("admin.delete.are_you_sure_you_want_to_delete_the_object", :model_name => @abstract_model.pretty_name.downcase)
        &ldquo;
        %strong>= @model_config.with(:object => @object).object_label
        \&rdquo;
        %span>
        = t("admin.delete.all_of_the_following_related_items_will_be_deleted")

      %div{:style=>"padding-left:20px"}= render :partial => "delete_notice", :object => @object

      = form_for(@object, :url => rails_admin_destroy_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => {:method => "delete"}) do

        %br
        %br
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            %img{:alt => "Remove", :src => "/stylesheets/rails_admin/theme/activo/images/icons/cross.png"}
            = t("admin.delete.confirmation")

          %button.button{:type => "submit", :name => "_continue"}
            = t("admin.new.cancel")
