- head_style "rails_admin/form.css"
- head_javascript "rails_admin/application.js"
- head_javascript "rails_admin/ra.remote-form.js"
.ra-block
  .ui-widget-header
    = @page_name
  .ra-block-content
    .ra-block-toolbar.ui-state-highlight.clearfix
      %ul
        %li
          = link_to t("admin.history.name"), rails_admin_history_object_path(:id => params[:id]), :class => 'ra-button'
        - if authorized? :delete, @abstract_model, @object
          %li
            = link_to t("admin.list.delete_action"), rails_admin_delete_path(:model_name => @abstract_model.to_param, :id => params[:id]), :class => 'ra-button'
    = render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
    = form_for(@object, :url => rails_admin_update_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :method => "put", :multipart => true }) do |form|
      - @model_config.edit.with(:object => @object).visible_groups.each do |fieldset|
        = render :partial => 'form_fieldset', :locals => { :fieldset => fieldset, :form => form, :object => @object }
      = render :partial => 'submit_buttons'
