      <div class="block form edit">
        <div class="header">
          <h2><%= @page_name %></h2>
          <% if @object.errors[:base].size > 0 %>
            <%= @object.errors[:base] %>
          <% end %>
          <ul class="actions">
            <li class="action history">
             <%= link_to(t("admin.history.name"), rails_admin_history_object_path(:id => params[:id])) %>
            </li>
            <li class="action delete">
              <a href="<%= rails_admin_delete_path(:model_name => @abstract_model.to_param, :id => params[:id]) %>"><span class="icon"><%= t("admin.list.delete_action") %></span></a>
            </li>
          </ul>
        </div>
        <%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
        <div class="content">
          <%= form_for(@object, :url => rails_admin_update_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :method => "put", :multipart => true }) do |form| %>
            <% @model_config.edit.with(:object => @object).visible_groups.each do |fieldset| %>
              <%= render :partial => 'form_fieldset', :locals => { :fieldset => fieldset, :form => form, :object => @object } -%>
            <% end %>
            <%= render :partial => 'submit_buttons' %>
          <% end %>
        </div>
      </div>