- head_style "rails_admin/form.css"
- head_javascript "rails_admin/application.js"
- head_javascript "rails_admin/ra.remote-form.js"
- head_javascript "rails_admin/activo/application.js"

#block-tables.block
  = breadcrumbs_for :edit, @object

  .content
    .control
      = action_button rails_admin_history_object_path(:id => params[:id]), t("admin.history.name")

      - if authorized? :delete, @abstract_model, @object
        = action_button rails_admin_delete_path(@abstract_model, @object), t("admin.list.delete_action"), :cross

    %h2.title= @page_name
    .inner
      = render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
      = send(@model_config.update.form_builder, @object, :url => rails_admin_update_path(@abstract_model, @object), :html => { :method => "put", :multipart => true, :class => "form" }) do |form|
        - @model_config.edit.with(:object => @object).visible_groups.each do |fieldset|
          = render :partial => 'form_fieldset', :locals => { :fieldset => fieldset, :form => form, :object => @object }
        = render :partial => 'submit_buttons'
