        <div id="contentHeader">
          <h2><%= @page_name %></h2>
        </div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
        <div id="contentMain">
          <div class="section">
            <ul class="menu">
              <li id="modelNameHeader"><%= t "admin.dashboard.model_name" %></li>
              <li id="lastUsedHeader"><%= t "admin.dashboard.last_used" %></li>
              <li id="recordsHeader"><%= t "admin.dashboard.records" %></li>
              <li id="modifyHeader"><%= t "admin.dashboard.modify" %></li>
            </ul>
            <% @abstract_models.each do |abstract_model| %>
            <ul class="row">
              <li class="modelNameRow"><%= abstract_model.pretty_name %></li>
              <!-- FIXME History stuff goes here-->
              <li class="lastUsedRow">Yesterday</li>
              <li class="recordsRow">
                <div class="scale">
                  <% percent = @count[abstract_model.pretty_name] * 100 / @max unless @max == 0 %>
                  <% percent = 1 if percent.nil? %>
                  <div class="bar <%= get_indicator(percent)%>" style="width:<%= percent %>%;"></div>
                </div>
              </li>
              <li class="modifyRow">
                <%= link_to(t("admin.dashboard.add_new"), rails_admin_new_path(:model_name => abstract_model.to_param), :class => "add") %>|<%= link_to(t("admin.dashboard.show"), rails_admin_list_path(:model_name => abstract_model.to_param), :class => "show") %>
              </li>
            </ul>
            <% end %>
          </div>

          <div class="section">
            <h2><%= t("admin.history.name") %></h2>
            <div id="timeline">
              <a href="javascript:void(0)" id="arrowLeft" ref="-1"><img src="/images/arrow_left.png" alt="Left" /></a>
              <div id="timelineSlider">
                <% max = @history[0].number %>
                <% @history.each{|t| max = t.number if t.number > max} %>
                <ul>
                  <% @history.each do |t| %>
                  <% percent = (t.number * 100) / max unless max == 0 %>
                  <% indicator_type = get_indicator(percent)%>
                  <li><span><%= Time.parse("#{t.year}-#{t.month}-01").strftime("%B %Y") %></span>
                    <span class="bars">
                      <% if t.number == 0 %>
                      <br/><%= t("admin.history.no_activity") %>
                      <% else %>
                      <span class="indicator <%= indicator_type %>" style="height:<%= percent %>%"></span>
                      <% end %>
                    </span>
                  </li>
                  <% end %>
                </ul>
                <div id="handler">
                  <img src="/images/handler.png"/>
                </div>
              </div>

              <a href="javascript:void(0)" id="arrowRight" ref="1"><img src="/images/arrow_right.png" alt="Right" /></a>
            </div>
            <div id="listingHistory">
<%= render(:partial => 'history', :locals => {:month => Time.now.month, :year => Time.now.year, :history => @historyListing}) -%>
            </div>
          </div>
        </div>
