<% head_style "rails_admin/list" %>
<% head_style "rails_admin/dashboard" %>
<% head_style "rails_admin/ra.timeline.css" %>
<% head_javascript "rails_admin/application.js" %>
<% head_javascript "rails_admin/ra.timeline.js" %>
        <div class="ra-block">
          <div class="ui-widget-header clearfix">
            <%= @page_name %>
          </div>
          <div class="ra-block-content">
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
            <table class="grid">
              <thead>
                <tr>
                  <th id="modelNameHeader"><%= t "admin.dashboard.model_name" %></th>
                  <th><%= t "admin.dashboard.last_used" %></th>
                  <th><%= t "admin.dashboard.records" %></th>
                  <th><%= t "admin.dashboard.modify" %></th>
                </tr>
              </thead>
              <tbody>
                <% @abstract_models.each do |abstract_model| %>
                  <% if authorized? :list, abstract_model %>
                    <tr class="<%= cycle 'odd', 'even' %>">
                      <td class="modelNameRow">
                        <%= link_to(RailsAdmin.config(abstract_model).label, rails_admin_list_path(:model_name => abstract_model.to_param), :class => "show") %>
                      </td>
                      <td>
                      <% if (last_used = @most_recent_changes[abstract_model.pretty_name]) %>
                      <%= time_ago_in_words last_used %> <%= t "admin.dashboard.ago" %>
                      <% end %>
                      </td>
                      <td>
                        <div class="scale">
                          <% percent = @count[abstract_model.pretty_name] * 100 / @max unless @max == 0 %>
                          <% percent = 1 if percent.nil? %>
                          <div class="bar <%= get_indicator(percent)%>" style="width:<%= percent %>%;"></div>
                        </div>
                      </td>
                      <td>
                        <% if authorized? :new, abstract_model %>
                          <%= link_to(t("admin.dashboard.add_new"), rails_admin_new_path(:model_name => abstract_model.to_param), :class => "add") %>|<%= link_to(t("admin.dashboard.show"), rails_admin_list_path(:model_name => abstract_model.to_param), :class => "show") %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ra-block">
          <div class="ui-widget-header">
            <%= t("admin.history.name") %>
          </div>
          <div class="ra-block-content">
            <div id="timeline"></div>
            <div style="margin-top: 10px;" id="listingHistory" class="block list">
    <%= render(:partial => 'history', :locals => {:month => Time.now.month, :year => Time.now.year, :history => @history}) -%>
            </div>
            <%= javascript_tag do %>
              $j(document).ready(function($) {
                var cache = {};
                 $("#timeline").timeline({
                   url: "<%= rails_admin_history_slider_path %>",
                   monthChanged: function(month, year) {
                     if (cache[year] && cache[year][month]) {
                       $("#listingHistory").html(cache[year][month]);
                     } else {
                       $j("#listingHistory").load(
                         "<%= rails_admin_history_list_path %>",
                         { month: month, year: year },
                         function(response, status, xhr) {
                           if (!cache[year]) { cache[year] = {}; }
                           cache[year][month] = response;
                         }
                       );
                     }
                   },
                   monthNames: <%= ActiveSupport::JSON.encode(month_names).html_safe %>
                 });
              });
            <% end %>
          </div>
        </div>
