<%
  params = request.params.except(:action, :controller, :model_name)
  query = params[:query]
  filter = params[:filter]
  sort = params[:sort]
  sort_reverse = params[:sort_reverse]
  properties = @model_config.list.visible_fields
  filters_exist = !properties.select{|property| property.type == :boolean}.empty?
  # columns paginate
  @style, @other, properties = get_column_set(properties)
%>

<style type="text/css">
<% @style.each do |key, value| %>
  <%= ".#{key}Header" %>{
    width: <%= value[:width] %>px;
  }

  <%= ".#{key}Row" %>{
    width: <%= value[:width] %>px;
  }
<% end %>
<% @other.each do |t| %>
  <%= ".#{t}"%>{
    display:none;
  }
<% end %>
</style>
      <div id="contentHeader">
        <h2><%= @page_name %></h2>
        <div id="quickAccess">
          <ul id="quick">
            <li>
             <%= link_to(t("admin.history.name"), rails_admin_history_show_path(:model_name => @abstract_model.to_param, :id => params[:id]), :class => "addlink") %>
            </li>
            <li>
             <%= link_to(t("admin.list.add_new"), rails_admin_new_path(:model_name => @abstract_model.to_param), :class => "addlink") %>
            </li>
          </ul>
        </div>
      </div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
      <div id="contentMainModules">
        <div class="searchBox">
          <form action="#" action="" method="get">
            <fieldset>
              <input type="text" id="searchBar" name="query" value="<%= query %>"/>
              <input type="submit" id="searchbar_btn" value="<%= t("admin.list.search_btn")%>" />
            </fieldset>
          </form>
        </div>
        <ul id="moduleHeader">
          <li class="otherHeader otherHeaderLeft">...</li>
          <% properties.each do |property| %>
          <% property_name = property.name %>
          <% property_pretty_name = property.label %>
          <li class="<%= "#{property.column_css_class}Header" %> <%= sort == property_name.to_s ? "columnSelected" : nil %>">
            <% if property.sortable? %>
            <% sort_location = params.merge(:sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(sort == property_name.to_s && sort_reverse != "true" ? {:sort_reverse => "true"} : {}) %>
            <%= link_to(property_pretty_name.upcase, sort_location, :ref => sort_location.to_json, :class => "headerSort") %>
            <% if sort == property_name.to_s %>
            <% image_name = sort_reverse ? "bullet_arrow_down.png" : "bullet_arrow_up.png"%>
            <%= link_to image_tag(image_name), sort_location, :ref => sort_location.to_json, :class => "headerSort" %>
            <% end %>
            <% else %>
            <%= property_pretty_name.upcase %>
            <% end %>
          </li>
          <% end %>
          <li class="otherHeader otherHeaderRight">...</li>
          <li class="actionHeader"><%= t("admin.list.edit_action").upcase%></li>
          <li class="actionHeader"><%= t("admin.list.delete_action").upcase%></li>
        </ul>

        <% @objects.each_with_index do |object, index| %>
        <% @model_config.object = object %>
        <ul class="infoRow <%= index % 2 == 0 ? nil : "greyRow" %>">
          <% other_left = params.reject{|key, value| key == "set"}.merge(:set => params[:set].to_i - 1) %>
          <li class="otherRow otherLeft"><%= link_to("...", other_left, :ref => other_left.to_json) %></li>
          <% properties.each do |property| %>
          <li class="<%= "#{property.column_css_class}Row" %>"><%= [:text, :string].include?(property.type) ? format_property(property)[0..40] : format_property(property) %></li>
          <% end %>
          <% other_right = params.reject{|key, value| key == "set"}.merge(:set => params[:set].to_i + 1) %>
          <li class="otherRow otherRight"><%= link_to("...", other_right, :ref => other_right.to_json)%></li>
          <li class="actionRow editAction"><%= link_to(t("admin.list.edit_action"), rails_admin_edit_path(:model_name => @abstract_model.to_param, :id => object.id)) %></li>
          <li class="actionRow deleteAction"><%= link_to(t("admin.list.delete_action"), rails_admin_delete_path(:model_name => @abstract_model.to_param, :id => object.id)) %></li>
        </ul>
        <% end %>
      </div>
    </div>
    <% unless @xhr %>
    <div id="pagination">
      <p class="paginator">
      <% if @page_count.to_i > 1 %>
        <%= paginate(@current_page, @page_count, :url => params).html_safe %>
      <% end %>
      <%= @record_count %> <%= @record_count == 1 ? @model_config.list.label.downcase : @model_config.list.label.downcase.pluralize %>
      <% if @page_count.to_i == 2 %>
        <%= link_to(t("admin.list.show_all"), params.merge(:all => true), :class => "showall") %>
      <% end %>
      </p>
    </div>
    <% end %>