<%
  query = params[:query]
  params = request.params.except(:authenticity_token, :action, :controller, :model_name, :utf8, :bulk_export)
  sort = params[:sort]
  sort_reverse = params[:sort_reverse]
  properties = @model_config.list.visible_fields.map{|property| property.with(:view => self)}
  # columns paginate
  @filterable_fields = @model_config.list.fields.select(&:filterable?)
  @style, @other, properties = get_column_set(properties)
%>

<% head_javascript "rails_admin/application.js" %>
<% head_javascript "rails_admin/ra.filter-box.js" %>

<% head_style "rails_admin/list" %>

<% head_style do %>
  <% @style.each do |key, value| %>
    .grid thead <%= ".#{key}" %>{
      width: <%= value[:width] %>px;
    }
  <% end %>
<% end %>

<%  
  @ordered_filters = params[:filters].inject({}) do |memo, filter|
    field_name = filter.first
    filter.last.each do |index, filter_hash|
      memo[index] = { field_name => filter_hash } unless filter_hash['disabled']
    end
    memo
  end.to_a.sort_by(&:first) unless params[:filters].blank?
%>

<script>
  $j(document).ready(function($) {
    $(this).one("ajax:success", function(e, data, status, xhr) {
      $("#content").html(data);
    });
    
    <%= 
      @ordered_filters.map do |duplet|
        filter_index = duplet[0]
        filter_for_field = duplet[1]
        filter_name = filter_for_field.keys.first
        filter_hash = filter_for_field.values.first
        field = @filterable_fields.find{ |field| field.name == filter_name.intern }
        
        field_options = case field.type
        when :enum
          options_for_select(field.with(:object => @abstract_model.model.new).enum, filter_hash['value']).gsub("\n", '')
        else
          ''
        end
        "$.filters.append('#{field.label}', '#{field.name}', '#{field.type}', '#{filter_hash['value']}', '#{filter_hash['operator']}', '#{field_options}', #{filter_index});"
      end.join if @ordered_filters
    %>  
  });
</script>
      <div class="ra-block">
        <div class="ui-widget-header">
          <%= @page_name %>
        </div>
        <div class="ra-block-content">
          <%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
          <div class="ra-block-toolbar ui-state-highlight">
            <ul>
              <% if authorized? :export, @abstract_model %>
              <li>
               <%= link_to(t("admin.list.export_action"), rails_admin_export_path(params.reject{|key, value| key.to_sym == :page}), :class => "ra-button", :method => :post) %>
              </li>
              <% end %>
              <li>
               <%= link_to(t("admin.history.name"), rails_admin_history_model_path, :class => "ra-button") %>
              </li>
              <% if authorized? :new, @abstract_model %>
                <li>
                 <%= link_to(t("admin.list.add_new"), rails_admin_new_path(:model_name => @abstract_model.to_param), :class => "ra-button") %>
                </li>
              <% end %>
            </ul>
            <%= form_tag(rails_admin_list_post_path(params.merge(:model_name => @abstract_model.to_param).reject{ |key, value| key.to_sym == :page || key.to_sym == :filters || key.to_sym == :query }), :method => :post, :remote => true) do %>
              <fieldset>
                <input type="text" name="query" value="<%= query %>" size="32" />
                <input type="submit" class="ra-button" value="<%= t("admin.list.search").upcase %>" />
                
                <select id="filter_select">
                  <option value="">Add filter...</option>
                  <% @filterable_fields.each do |field| %>
                    <% field_options = case field.type
                    when :enum
                      CGI.escapeHTML options_for_select(field.with(:object => @abstract_model.model.new).enum).gsub("\n", '')
                    else
                      ''
                    end %>
                    <option data-field-options="<%= field_options %>" data-field-value="" data-field-type="<%= field.type %>" data-field-name="<%= field.name %>" data-field-label="<%= field.label %>"><%=field.label %></option>
                  <% end %>
                </select>
                <div id="filters_box">
                </div>
              </fieldset>
            <% end %>
          </div>
          <%= form_tag rails_admin_bulk_action_path(:model_name => @abstract_model.to_param), :method => :post do %>
            <table class="grid">
              <thead>
                <tr>
                  <th class="other left" <% if @other.include? "left" %>style="display: none"<% end %>>...</th>
                  <% properties.each do |property| %>
                  <% property_name = property.name %>
                  <% property_pretty_name = property.label %>
                  <% selected = sort == property_name.to_s %>
                  <th class="<%= "#{property.css_class}" %> <%= selected ? "selected" : nil %>">
                    <% if property.sortable %>
                    <% sort_location = rails_admin_list_path(params.merge(:model_name => @abstract_model.to_param, :sort => property_name).reject{|key, value| key.to_sym == :sort_reverse}.merge(selected && sort_reverse != "true" ? {:sort_reverse => "true"} : {:sort_reverse => "false"})) %>
                    <% sort_direction = selected ? (sort_reverse == 'true' ? "ascending" : "descending") : nil %>
                    <%= link_to(property_pretty_name.upcase, sort_location, :class => sort_direction, :remote => true) %>
                    <% else %>
                    <%= property_pretty_name.upcase %>
                    <% end %>
                  </th>
                  <% end %>
                  <th class="other right" <% if @other.include? "right" %>style="display: none"<% end %>>...</th>
                  <th class="action"><%= t("admin.list.edit_action").upcase if authorized? :edit, @abstract_model %></th>
                  <% if authorized? :delete, @abstract_model %>
                  <th class="action"><%= t("admin.list.delete_action").upcase %></th>
                  <% end %>
                  <th class="action"><%= t("admin.list.select_action").upcase %></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="<%= properties.length + 5 %>" class="ra-block-toolbar">
                    <ul>
                      <% if authorized? :delete, @abstract_model %>
                        <li><%= submit_tag t("admin.list.delete_selected"), :class => "ra-button", :name => :bulk_delete %></li>
                      <% end %>
                     
                      <% if authorized? :export, @abstract_model %>
                        <li><%= submit_tag t("admin.list.export_selected"), :class => "ra-button", :name => :bulk_export %></li>
                      <% end %>
                    </ul>
                    <div class="pagination">
                      <% if @page_count.to_i > 1 %>
                        <%= paginate(@current_page, @page_count, :url => params).html_safe %>
                      <% end %>
                      <%= @record_count %>
                      <%= @model_config.abstract_model.model.model_name.human(:count => @record_count, :default => @record_count != 1 ? @model_config.label.downcase.pluralize : @model_config.label.downcase) %>
                      <% if @record_count.to_i <= 100 && @page_count.to_i > 1 %>
                        <%= link_to(t("admin.list.show_all"), rails_admin_list_path(params.merge(:model_name => @abstract_model.to_param, :all => true, :class => "showall")), :method => :get, :remote => true) %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                <% @objects.each_with_index do |object, index| %>
                <tr class="<%= index % 2 == 0 ? " odd" : " even" %>">
                  <% other_left = rails_admin_list_path(params.merge(:model_name => @abstract_model.to_param).reject{|key, value| key == "set"}.merge(:set => params[:set].to_i - 1)) %>
                  <td class="other left" <% if @other.include? "left" %>style="display: none"<% end %>>
                    <%= link_to("...", other_left, :remote => true) %>
                  </td>
                  <% properties.map{|property| property.bind(:object, object)}.each do |property| %>
                    <td class="<%= "#{property.css_class}" %>"><%= [:text, :string].include?(property.type) ? property.formatted_value[0..40] : property.formatted_value %></td>
                  <% end %>
                  <% other_right = rails_admin_list_path(params.merge(:model_name => @abstract_model.to_param).reject{|key, value| key == "set"}.merge(:set => params[:set].to_i + 1)) %>
                  <td class="other right" <% if @other.include? "right" %>style="display: none"<% end %>>
                    <%= link_to("...", other_right, :remote => true)%>
                  </td>
                  <td class="action edit">
                    <%= link_to(t("admin.list.edit_action"), rails_admin_edit_path(:model_name => @abstract_model.to_param, :id => object.id)) if authorized? :edit, @abstract_model, object %>
                  </td>
                  <% if authorized? :delete, @abstract_model %>
                  <td class="action delete">
                    <%= link_to(t("admin.list.delete_action"), rails_admin_delete_path(:model_name => @abstract_model.to_param, :id => object.id)) if authorized? :delete, @abstract_model, object %>
                  </td>
                  <td class="action select"><%= check_box_tag "bulk_ids[]", object.id, false, :id => "bulk_ids_#{object.id}" %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      
