<div id="contentHeader">
  <h2><%= @page_name %></h2>
</div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
<div id="contentMainNew">
  <%= form_tag(rails_admin_create_path(:model_name => @abstract_model.to_param), :multipart => true) do %>
    <fieldset>
      <%= render(:partial => 'form_section', :collection => RailsAdmin::config(@object).create.visible_groups) -%>
      <%= render :partial => 'new_submit_buttons' %>
    </fieldset>
  <% end %>
</div>
