-# FIXME: too much duplication between this page and edit page

#block-tables.block
  = breadcrumbs_for :new, @abstract_model

  .content
    %h2.title= @page_name
    .inner
      = render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash})
      = send(@model_config.create.form_builder, @object, :url => create_path(:model_name => @abstract_model.to_param, :id => @object.id), :html => { :multipart => true, :class => "form" }) do |form|
        - @model_config.create.with(:object => @object).visible_groups.each do |fieldset|
          = render :partial => 'form_fieldset', :locals => { :fieldset => fieldset, :form => form, :object => @object }
        = render :partial => 'submit_buttons'
