- @model_config.show.with(object: @object, view: self, controller: self.controller).visible_groups.each do |fieldset|
  - unless (fields = fieldset.with(object: @object, view: self, controller: self.controller).visible_fields).empty?
    - unless (fields = fields.reject{ |f| RailsAdmin::config.compact_show_view && (f.formatted_value.nil? || f.formatted_value == '') }).empty?
      .fieldset
        %h4
          = fieldset.label
        - if fieldset.help
          %p= fieldset.help
        %dl
          - fields.each_with_index do |field, index|
            %dt
              %span.label.label-info{class: "#{field.type_css_class} #{field.css_class}"}
                = field.label
            %dd.well
              = field.pretty_value
