<%
  # FIXME
  # slice_name = "RailsAdmin" + (RailsAdmin[:app_name].blank? ? "" : " for #{RailsAdmin[:app_name]}")
  slice_name = "RailsAdmin"
  page_name = "Site administration"
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title><%= page_name %> | <%= slice_name %></title>
    <!-- FIXME: These should use something like "public_path_for" from merb-slices -->
    <%= stylesheet_link_tag('base') %>
    <%= stylesheet_link_tag('dashboard') %>
    <!--[if lte IE 7]><%= stylesheet_link_tag('ie') %><![endif]-->
  </head>
  <body class="admin-slice dashboard">
    <div id="container">
      <div id="header">
        <div id="branding">
          <h1 id="site-name">
            <%= slice_name %>
          </h1>
        </div>
      </div>
<%= render(:partial => 'layouts/flash', :locals => {:flash => flash}) -%>
      <div id="content" class="colMS">
        <h1>
          <%= page_name %>
        </h1>
<%= content_for(:layout) -%>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
